


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  min-height: 100vh;
}

body {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(5, 1fr);
}

img {
  width: 1.5rem;
}








/* HEADER */
header {
  background-color: whitesmoke;
  grid-row: 1 / 2;
  grid-column: 2 / 6;
  display: grid;
  grid-template-rows: repeat(2, 75px);
  grid-template-columns: 70% 30%;
  padding: .5rem 1.5rem;
}

/* Search bar */
header .search-bar {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header .search-bar form {
  display: flex;
  align-items: center;
  gap: .5rem;
}

header .search-bar form img {
  width: 1.5rem;
  height: 1.5rem;
}

header .search-bar label {
  width: 100%;
}

header .search-bar input {
  padding: .5rem 1rem;
  background-color: lightgray;
  border: none;
  font-size: 1rem;
  border-radius: 25px;
  width: 100%;
}

/* Notification bar */
header .notification-bar {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}

header .notification-bar a {
  display: flex;
}

header .notification-bar > img {
  width: 2rem;
  border-radius: 50%;
  background-color: lightblue;
}

header .notification-bar p {
  font-weight: bolder;
}

/* Greeting bar */
header .greeting-bar {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

header .greeting-bar p {
  font-weight: bolder;
}

header .greeting-bar p:nth-child(2) {
  font-size: 1.2rem;
}

header .greeting-bar img {
  width: 3.5rem;
  background-color: lightblue;
  border-radius: 50%;
}

/* Action bar */
header .actions-bar {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
}

header .actions-bar button {
  font-weight: bold;
  width: 100px;
  border-radius: 20px;
  background-color: royalblue;
  border: none;
  padding: .5rem;
  color: white;
}










/* SIDEBAR */
aside {
  color: white;
  background-color: royalblue;
  padding: 10%;

  display: flex;
  flex-direction: column;
  gap: 3rem;

  grid-row: 1 / 11;
  grid-column: 1 / 2;
}

aside ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

aside a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
  display: flex;
  align-items: center;
  gap: 1rem;
}

aside .sidebar-header {
  display: flex;
  align-items: center;
  gap: .5rem;
}

aside .sidebar-header img {
  width: 3rem;
}








/* MAIN */
main {
  background-color: lightblue;
  box-shadow: inset 0px 0px 10px rgba(92, 84, 84, 0.5);
  background-color: lightgrey;
  padding: 1.5rem;

  grid-row: 2 / 11;
  grid-column: 2 / 6;
}

main > div.container {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);

}

/* projects */

main .projects {
  grid-column: 1 / 4;
}

main section.projects-container {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

main section .project {
  padding: 1rem;
  border-radius: 15px;
  background-color: white;
  height: 250px;
}








.side-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}





/* announcements */
main .announcements {
  grid-column: 4 / 5;
  margin-left: 1.5rem;
}

main .announcements-container {
  margin-top: 1rem;
  padding: 1rem;
  background-color: white;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
}

main .announcement:not(:last-of-type) {
  border-bottom: 1px solid lightgray;
}

main .announcement {
  padding: 1rem;
}

main .announcement h3 {
  font-size: 1rem;
  margin-bottom: .25rem;
}

main .announcement p {
  font-size: .9rem;
}










/* trending */
main .trending {
  grid-column: 4 / 5;
  margin-left: 1.5rem;
}

main .trending p.username {
  font-weight: bolder;
}

main .trending img {
  width: 3rem;
  background-color: lightblue;
  border-radius: 50%;
}

main .trending-container {
  margin-top: 1rem;
  border-radius: 15px;
  background-color: white;
}

main .trending-project {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}






/* projects card */
.projects-container .project {
  box-shadow:  5px 5px 5px darkgrey;
}

.announcements-container  {
  box-shadow:  5px 5px 5px darkgrey;
}

.trending-container {
  box-shadow:  5px 5px 5px darkgrey;
}