


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  height: 100%;

  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(5, 1fr);
}






/* HEADER */
header {
  background-color: whitesmoke;
  grid-row: 1 / 2;
  grid-column: 1 / 6;
}



/* SIDEBAR */
aside {
  background-color: royalblue;
  grid-row: 1 / 6;
  grid-column: 1 / 2;
}



/* MAIN */
main {
  background-color: lightgrey;
  grid-row: 2 / 6;
  grid-column: 2 / 6;
}